---
swagger: "2.0"
info:
  description: >-
    API para gestão e integração de linhas de ônibus e seus intinerários
    Principais guides para definição da api são consultas a API PoaTransporte
    Operações (Integração)
    Listar as linhas de ônibus - http://www.poatransporte.com.br/php/facades/process.php?a=nc&p=%&t=o
    Listar itinerário de uma determinada unidade de transporte - http://www.poatransporte.com.br/php/facades/process.php?a=il&p=5566

  version: "1.0.0"
  title: "TransportesDimed"
  contact:
    email: "dieggopsc@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "com.br.dieggocarrilho"
basePath: "/"
tags:
- name: "user"
  description: "Operations about user"
  externalDocs:
    description: "Find out more about our store"
    url: "http://io"
schemes:
- "http"
paths:
  /user:
    post:
      tags:
      - "user"
      summary: "Criação de usuário"
      description: "Esta operação fará o registro em base de dados de um cliente."
      operationId: "createUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created user object"
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        default:
          description: "successful operation"
    put:
      tags:
      - "user"
      summary: "Atualização de dados de usuário"
      description: "Esta operação fará atualização cadastral de usuário."
      operationId: "updateUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID é necessário para exclusão"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Objeto do usuário para atualização"
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        400:
          description: "Invalid user supplied"
        404:
          description: "User not found"
    delete:
      tags:
      - "user"
      summary: "Deletar usuário"
      description: "Operação para exclusão de um usuário"
      operationId: "deleteUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID é necessário para exclusão"
        required: true
        type: "integer"
        format: "int64"
      responses:
        400:
          description: "Invalid username supplied"
        404:
          description: "User not found"
  /user/{id}:
    get:
      tags:
      - "user"
      summary: "Criação de usuário"
      description: "Esta operação fará o registro em base de dados de um cliente."
      operationId: "findUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID é necessário para exclusão"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "operação realizaca com sucesso"
          schema:
            $ref: "#/definitions/User"
        404:
          description: "Usuario não encontrado"
definitions:
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
      phone:
        type: "string"
      userStatus:
        type: "integer"
        format: "int32"
        description: "User Status"
    xml:
      name: "User"

externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
